<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>


  <div class="section__content">
    <div class="project esri">
      <figure class="project__pic">
        <div class="gif">
          <!-- <img src="{{site.baseurl}}/img/gif/WellMadeVid_cluster.gif" alt=""> -->
        </div>
        <video width="640" height="380" controls
        poster="{{site.baseurl}}/img/featured/esri/elizabeth-ashley_thumbnail_DevSummit24.jpg"
        controlsList="nodownload">
          <source src="{{site.baseurl}}/img/video/DevSummit24_ImageryPlenary.mp4" type=video/mp4>
        </video>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://links.esri.com/DevSummit24_ImageryPlenary" target="_blank">Esri</a>
        </div>
        <p> Gave a plenary talk to share Imagery and Remote Sensing capabilities at the Esri Developer Summit 2024 Conference about estimating CO2 emissions released by wildfires through advanced cloud-based above ground biomass analysis of satellite imagery from the new Microsoft Planetary Computer through the new STAC support in the ArcGIS API for Python!  <strong><a href="https://links.esri.com/DevSummit24_ImageryPlenary" target="_blank">[Esri Video]</a></strong></p>
      </figcaption>
    </div>




    <div class="project research">
      <figure class="project__pic">
        <div class="gif">
          <img src="{{site.baseurl}}/img/gif/WellMadeVid_cluster.gif" alt="">
        </div>
        <!-- <video width="640" height="380" controls>
          <source src="{{site.baseurl}}/img/video/WellMadeVid_cluster.mp4" type=video/mp4>
        </video> -->
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://cires.colorado.edu/elizabeth-menezes" target="_blank">Research</a>
        </div>
        <p>I created this simple rendering and 3D diagram of the earthquakes in my research field site - Raton Basin, Colorado. I used a clustering algorithm in MATLAB to group the earthquakes and visualize different fault lineations. <strong><a href="https://elizabeth-ashley.github.io/code/docs/home/research/#3d-inversion-fault-model" target="_blank">[View Code]</a></strong></p>
      </figcaption>
    </div>

    <div class="project Exhibits">
      <figure class="project__pic">
        <a href="https://elizabeth-ashley.github.io/code/docs/home/exhibits/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/exhibits/exhibits.JPG" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://elizabeth-ashley.github.io/code/docs/home/exhibits/" target="_blank">Exhibits</a>
        </div>
        <p>I made exhibits for the Murie Science & Learning Center to showcase various topics such as the Aurora Borealis, Mount Denali, etc. <strong><a href="https://elizabeth-ashley.github.io/code/docs/home/exhibits/" target="_blank">[View Here]</a></strong></p>
      </figcaption>
    </div>

    <div class="project modelling">
      <figure class="project__pic">
        <div class="gif">
          <!-- <img src="{{site.baseurl}}/img/gif/SIGNUM.gif" alt=""> -->
          <!-- <video width="650" height="380" controls>
            <source src="{{site.baseurl}}/img/video/SIGNUM.mp4" type=video/mp4>
          </video> -->
          <img src="{{site.baseurl}}/img/gif/glacier_movie_EAM.gif" alt="">
        </div>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://cires.colorado.edu/elizabeth-menezes" target="_blank">Numerical Modelling</a>
        </div>
        <p>I created this model in order to simulate the growth, equilibrium, and oscillation of a valley glacier. <strong><a href="https://elizabeth-ashley.github.io/code/docs/home/modelling/#glacier-numerical-modeling" target="_blank">[View Code]</a></strong></p>
      </figcaption>
    </div>

    <div class="project Denali for Families Book">
      <!-- <figure class="project__pic book"> -->
      <!-- <a href="https://www.nps.gov/dena/learn/kidsyouth/upload/Denali-for-Families.pdf" target="_blank">
        <div class="book">
          <img src="{{site.baseurl}}/img/featured/book/Denali-for-Families_Page_01.png" alt="">
        </div>
      </a> -->
      <figure class="project__gallery book">
        <!-- Container for the image gallery -->
        <div class="container">

          <!-- Full-width images with number text -->
          <div class="mySlides">
            <div class="numbertext">1 / 6</div>
              <img src="{{site.baseurl}}/img/featured/book/Denali-for-Families_Page_01.png" style="width:100%">
          </div>

          <div class="mySlides">
            <div class="numbertext">2 / 6</div>
              <img src="{{site.baseurl}}/img/featured/book/Denali-for-Families_Page_10.png" style="width:100%">
          </div>

          <div class="mySlides">
            <div class="numbertext">3 / 6</div>
              <img src="{{site.baseurl}}/img/featured/book/Denali-for-Families_Page_11.png" style="width:100%">
          </div>
        <!--
          <div class="mySlides">
            <div class="numbertext">4 / 6</div>
              <img src="img_lights_wide.jpg" style="width:100%">
          </div>

          <div class="mySlides">
            <div class="numbertext">5 / 6</div>
              <img src="img_nature_wide.jpg" style="width:100%">
          </div>

          <div class="mySlides">
            <div class="numbertext">6 / 6</div>
              <img src="img_snow_wide.jpg" style="width:100%">
          </div> -->

          <!-- Next and previous buttons -->
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>

          <!-- Image text -->
          <div class="caption-container">
            <p id="caption"></p>
          </div>

          <!-- Thumbnail images -->
          <div class="row">
            <div class="column">
              <img class="demo cursor" src="img_woods.jpg" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
            </div>
            <div class="column">
              <img class="demo cursor" src="img_5terre.jpg" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
            </div>
            <div class="column">
              <img class="demo cursor" src="img_mountains.jpg" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
            </div>
            <div class="column">
              <img class="demo cursor" src="img_lights.jpg" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
            </div>
            <div class="column">
              <img class="demo cursor" src="img_nature.jpg" style="width:100%" onclick="currentSlide(5)" alt="Nature and sunrise">
            </div>
            <div class="column">
              <img class="demo cursor" src="img_snow.jpg" style="width:100%" onclick="currentSlide(6)" alt="Snowy Mountains">
            </div>
          </div>
        </div>

      </figure>

      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.nps.gov/dena/learn/kidsyouth/upload/Denali-for-Families.pdf" target="_blank">Denali for Families Book</a>
        </div>
        <p>This free travel guide is designed for parents and guardians who are traveling to Denali and hope to make lasting memories. <strong><a href="https://www.nps.gov/dena/learn/kidsyouth/upload/Denali-for-Families.pdf" target="_blank">[View digital PDF]</a></strong></p>
      </figcaption>
    </div>
  </div>
</section>
