<section class="section skills">
  <div class="section__title">Skills</div>
  <div class="section__content">
    <div class="skillz">
      {% for category in site.data.skills.categories %}
      <div class="skillz__category">
        <div class="skillz__pill skillz__pill--{{category.tone}}">{{category.label}}</div>
        <ul class="skillz__list">
          {% for skill in category.items %}
          <li class="skillz__item">{{skill}}</li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
